<nav class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><%= link_to ' getLunch ', root_path%></li>
      <% if user_signed_in? %>
        <li>
          <a href="#editAccount">Edit Account</a>
          <div id="editAccount" class="modalDialog">
              <div>
                <%= render 'devise/registrations/edit_modal' %>
                <a href="#close" title="Close" class="close">X</a>
              </div>
          </div>
        </li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      <% else %>
        <li>
          <a href="#signIn">Sign In</a>
          <div id="signIn" class="modalDialog">
              <div>
                <%= render 'devise/sessions/new' %>
                <a href="#close" title="Close" class="close">X</a>
              </div>
          </div>
        </li>
        <li>
          <a href="#signUp">Sign Up</a>
          <div id="signUp" class="modalDialog">
              <div>
                <%= render 'devise/registrations/new' %>
                <a href="#close" title="Close" class="close">X</a>
              </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul>
      <% if !current_user.nil? %>
        <div class="title-area" id="username" val="<%= current_user.id %>" user="<%= current_user.name%>">
          <h2><%= current_user.name %></h2>
          <p><%= current_user.email %></p>
        </div>
      <% end %>
  </ul>
  </div>
</nav>
